<header>
  <h1>URL Shortener Tool</h1>
</header>

<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    novalidate
    autocomplete="off"
  >
    <input
      name="inputUrl"
      type="url"
      class="form-input"
      [(ngModel)]="model.inputUrl"
      placeholder="Input the URL"
      #inputUrl="ngModel"
      required
    />

    <!-- <div
      class="form-error"
      [hidden]="(inputUrl.valid || inputUrl.pristine) && inputUrl.errors"
    >
      <p *ngIf="inputUrl.errors && inputUrl.errors.required">
        Please Enter URL.
      </p>
    </div> -->

    <button type="submit" [disabled]="urlForm.invalid" class="form-btn">
      {{ !isLoading ? 'Shorten' : 'Generating...' }}
    </button>
  </form>
</section>
