header {
  background-color: #950740;
  padding: 10px;
  color: white;
  text-align: center;
}

.container {
  margin-top: 10px;
  padding: 50px;
  text-align: center;
  font-size: 1rem;
}

form {
  display: flex;
  justify-content: space-between;
}

.form-input {
  padding: 10px;
  font-size: 1rem;
  background-color: #c3073f;
  width: 75%;
  border: 3px solid;
  outline: none;
  border-color: transparent transparent #950740 transparent;
  text-align: center;
  color: white;
}

::placeholder {
  color: white;
  text-align: center;
}

.form-btn {
  padding: 10px;
  width: 15%;
  font-size: 1rem;
  margin-top: 15px;
  background-color: transparent;
  border: #950740 3px solid;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.form-btn:hover {
  background-color: #950740;
}

@media only screen and (max-width: 600px) {
  .form-input {
    width: 80%;
    background-color: transparent;
  }

  .form-btn {
    width: 80%;
  }
}
